<h2 class="page-header text-center">List of contacts</h2>
<p class="text-center">
    <a href="" ng-click="addContact()" class="btn btn-lg btn-outline">Add Contact</a>
</p>
<ul class="media-list row contacts-container">
    <li class="media col-md-6 col-lg-4" ng-repeat="contact in contacts track by $index">
        <div class="thumbnail">
            <img class="media-object" ng-src="../images/faces/{{$index+1}}.jpg" />
        </div>
        <div class="media-heading">
            <h3>
           {{contact.name}}
          <small>
            <a ng-click="editContact($index)"><span class="glyphicon glyphicon-pencil"></span></a>
            <a ng-click="deleteContact($index)" class="delete-contract">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </small>
        </h3>
        </div>
        <div class="media-body">
            <dl>
                <dt>Phone Number:</dt>
                <dd>
                    {{contact.tel}}
                </dd>
                <dt>Email:</dt>
                <dd>
                    {{contact.email }}
                </dd>
            </dl>
        </div>
        <hr>
    </li>
</ul>
